In [1]:
import pandas as pd
from candlestick import candlestick
df = pd.read_csv('EURUSD_M1_2018.csv', header=0, names=['time','Date2','open','high','low','close','volume'])
df

              time  Date2     open     high      low    close  volume
0       2018.01.01  17:00  1.20037  1.20100  1.20037  1.20100       0
1       2018.01.01  17:01  1.20083  1.20095  1.20017  1.20030       0
2       2018.01.01  17:02  1.20035  1.20043  1.20035  1.20043       0
3       2018.01.01  17:03  1.20041  1.20050  1.20031  1.20046       0
4       2018.01.01  17:04  1.20049  1.20049  1.20046  1.20048       0
...            ...    ...      ...      ...      ...      ...     ...
372602  2018.12.31  16:55  1.14631  1.14637  1.14626  1.14637       0
372603  2018.12.31  16:56  1.14637  1.14642  1.14624  1.14642       0
372604  2018.12.31  16:57  1.14642  1.14647  1.14640  1.14645       0
372605  2018.12.31  16:58  1.14645  1.14674  1.14639  1.14672       0
372606  2018.12.31  16:59  1.14671  1.14671  1.14635  1.14644       0

[372607 rows x 7 columns]

In [2]:
df = df.head(100)

target = 'bearish_engulfing'
candles_df = candlestick.hammer(df, target=target)
candles_df[candles_df['bearish_engulfing'] == True]

Empty DataFrame
Columns: [time, Date2, open, high, low, close, volume, bearish_engulfing]
Index: []